.applyJobBg {
  background: #f7fbfd;
  min-height: 100vh;
}

.jobCard {
  border-radius: 1.5rem !important;
  background: #fff;
}

.sectionCard {
  border-radius: 1.5rem !important;
  background: #fff;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .jobCard {
    padding: 0 !important;
  }
  .buttonContainer {
    margin-top: 1rem !important;
    align-items: stretch !important;
  }
  .buttonContainer button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .jobCard .row {
    flex-direction: column !important;
    gap: 0.5rem;
  }
}
