.wrapper {
    background: linear-gradient(180deg, rgba(239, 249, 255, 0.85) 0%, rgba(159, 219, 255, 0.85) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:
        0 10px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid white;
}

.card:hover {
  transform: scale(1.04);
  border: 2px solid #0d6efd;
}

.card.selected {
  /* box-shadow: 0 0 0 2px #0d6efd; */
  border: 2px solid #0d6efd;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* .blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #0d6efd;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
} */

/* @keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
} */

.icon-container {
  z-index: 3;
}

.btn {
  z-index: 3;
  margin-top: auto;
}

.btn:hover {
  background-color: #0d6efd;
  color: white;
}

.link:hover {
    text-decoration: underline !important;
}
